@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

*{
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #E1F8DC;
}
.container{
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%.-50%);
  margin: 0 auto;
}
